@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

a.active hr {
  @apply block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    @apply text-white bg-black;
  }
}

.padding {
  @apply px-4 py-2 md:py-3;
}

.btn-outline {
  @apply border border-black rounded-sm padding transition-colors duration-300 ease-in-out hover:bg-black hover:text-white;
}

.btn-fill {
  @apply border border-black rounded-sm padding transition-colors duration-300 ease-in-out bg-black text-white hover:bg-white hover:text-black;
}
